<div class="masters">
    <div class="main" *ngFor="let item of productsObj">
        <div class="card text-center" style="width: 25rem;">
            <img class="card-img-top" src={{item.thumbnail}} alt="Card image cap" height="270" width="180">
            <div class="card-body">
                <h2 class="card-title"><b>{{item.title}}</b></h2>
                <p class="card-text"><b>Description : </b>{{item.description}}</p>
                <p class="card-text"><b>Rating : </b>{{item.rating}} stars</p>
                <p class="card-text"><b>Stock : </b>{{item.stock}} Items Left only</p>
                <div class="buttons">    
                    <a mat-raised-button color="primary" [routerLink]="['/buy', item.id]">Buy</a>
                </div>
            </div>
        </div>
    </div>
</div>
