.my-orders{
    margin-bottom: 100px;
    /* margin-left: 2%; */
}
.my-orders h1{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}
.my-orders .order-img{
    width: 100px;
}

.my-orders .row{
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom:1px solid #ddd;

}
.col-sm-2{
    display: flex;
    align-items: center;
}
.orderTable{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 2%;
    min-height: 30em;
    margin-left: 1%;
    margin-right: 1%;
}