.navbar {
    display: flex;
    justify-content: space-between;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: hidden;
    
  }
  
  .nav h1 {
    margin-top: 5px;
    color: grey;
    font-size: 40px;
    margin-left: 1%;
  }
  .nav .nav-search {
    flex: 1;
    display: flex;
    margin-left: 2%;
    margin-right:5%;
    margin-top: 5px;
  }

  img{
    height: 40px;
    margin-left: 1%;
  }
  
  .nav .nav-search input {
      flex: 1;
      color: grey;
      border: 2px solid black;
      height: 39px;
      border-right: none;
      border-radius: 10%;
  }
  
  .nav .nav-search button{
      color: black;
      border: 2px solid black;
      height: 39px;
  }
  
  .nav ul {
      display: inline-flex;
      margin: 0;
      padding: 0;
      list-style-type: none;
      position: relative;
      font-size: large;
   
  }
  
  .nav ul li{
      padding-left: 15px;
      padding-top: 15px;
      cursor: pointer;
  }
  
  .nav ul a {
      text-decoration: none;
      color: grey;
      cursor: pointer;

  }
  .nav ul a :hover{
     color: black;

  }
  
  h1 a{
    color: grey;
    text-decoration: none;
    font-family: 'East Sea Dokdo', cursive;
  }
  
  #suggested-search{
    position: absolute;
    top: 44px;
    z-index: 10;
    display: list-item !important;
    border: 1px solid #ddd;
    background-color: #fff;
    width: 486px;
  }
  #suggested-search li {
    padding:5px;
    border: 1px solid #ddd;
  }
  #suggested-search li a{
    cursor: pointer;
    color: black;
  }
  .btnsearch{
    width: 10%;
    border-radius: 29%;
    border: 2px solid grey;
  }
  .fa-brands{
    font-size: x-large;
    font-weight: 600;
  }
  .fa-user{
    font-size: larger;
  }
  .badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    cursor: pointer;
  }
  
  .label-warning[href],
  .badge-warning[href] {
    background-color: #c67605;
    cursor: pointer;
  }
  #lblCartCount {
    font-size: 11px;
    background: #ff0000;
    color: #fff;
    padding: 3px 6px;
    vertical-align: top;
    margin-left: -10px;
    cursor: pointer;
  }

  .form{
    display: flex;
    justify-content: center;
  }

.fa{
  position: relative;
  top: 2px;
}